@tailwind base;
@tailwind components;
@tailwind utilities;

/* rgb(187, 39, 26) */
/* 
  We've already included normalize.css. 

  But we'd like a modern looking boilerplate. 
  Clean type, sans-serif, and a nice color palette. 
  
*/

* {
  box-sizing: border-box;
  border-color: #E7EBEE;
}

.radix-themes {
  --my-brand-color: #CC1F00 !important;
  --color-surface: #F3F5F700 !important;
  --gray-12: #080A0C !important;
}

#root {
  display: flex;
  flex-direction: column;
  font-family: Arial, sans-serif;
  height: 100%;
}

html {
  height: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
  height: 100%;
  font-size: 16px;
  line-height: 1.5;
  color: #080A0C;
  padding: 0;
  margin: 0;
}

a {
  /* color: #000; */
  text-decoration: none;
}

a:visited {
  /* color: inherit; */
}

label,
p {
  font-size: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: sans-serif;
  font-weight: 600;
  line-height: 1.25;
  margin-top: 0;
  margin-bottom: 0.5rem;
}

p {
  margin: 0;
}

button {
  padding: 10px 15px;
  color: white;
  display: inline-block;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  @apply bg-green;
}

button:not(.rt-reset):hover {
  background-color: #45a049;
}

button:disabled {
  background-color: #cccccc;
  color: #666666;
  cursor: not-allowed;
}

.player {
  background-color: #f0f0f0;
  border: 1px solid #ddd;
  padding: 10px;
  margin-top: 10px;
  border-radius: 8px;
}

@media (max-width: 768px) {
  body {
    font-size: 10px;
  }
}