.tg-header {
  align-items: left;
  display: flex;
  justify-content: left;
  padding: 8px 12px;
  text-align: left;
  position: relative;
  background-color: black;
  left: 0;
  border: 2px solid rgb(92, 193, 51);
}

.tg-header__logo {
  z-index: 2;
  margin: 8px;
}

.tg-header__logo>img {
  height: 40px;
}

.tg-header__title {
  position: relative;
  z-index: 3;
}

.tg-header__title * {
  font-family: monospace;
}

.tg-header__title h2 {
  margin: 0;
  color: rgb(92, 193, 51);
}

.tg-header__title p {
  color: rgb(92, 193, 51);
}