/* Value	Common weight name
200	Extra Light (Ultra Light)
300	Light
400	Normal (Regular)
500	Medium
600	Semi Bold (Demi Bold)
700	Bold
800	Extra Bold (Ultra Bold)
*/

/* roboto */
@font-face {
  font-family: 'Roboto';
  font-weight: 300;
  src: url('../fonts/Roboto/Roboto-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto';
  font-weight: 400;
  src: url('../fonts/Roboto/Roboto-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto';
  font-weight: 500;
  src: url('../fonts/Roboto/Roboto-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto';
  font-weight: 700;
  src: url('../fonts/Roboto/Roboto-Bold.ttf') format('truetype');
}

/* barlow */
@font-face {
  font-family: 'Barlow';
  font-weight: 300;
  src: url('../fonts/Barlow/Barlow-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Barlow';
  font-weight: 400;
  src: url('../fonts/Barlow/Barlow-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Barlow';
  font-weight: 500;
  src: url('../fonts/Barlow/Barlow-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Barlow';
  font-weight: 700;
  src: url('../fonts/Barlow/Barlow-Bold.ttf') format('truetype');
}