/* rgb(187, 39, 26) */
/* 
  We've already included normalize.css. 

  But we'd like a modern looking boilerplate. 
  Clean type, sans-serif, and a nice color palette. 
  
*/
* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

#app {
  font-family: Arial, sans-serif;
  height: 100%;
  padding: 20px;
  overflow: hidden;
}

body {
  background: #A8B3B0;
  font-family: sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
}

button {
  display: inline-block;
  /* Ensure buttons are visible */
}


h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: sans-serif;
  font-weight: 600;
  line-height: 1.25;
  margin-top: 0;
  margin-bottom: 0.5rem;
}

p {
  margin: 0;
}

button {
  margin: 5px;
  padding: 10px 15px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

.player {
  background-color: #f0f0f0;
  border: 1px solid #ddd;
  padding: 10px;
  margin-top: 10px;
  border-radius: 8px;
}