@keyframes slideRight {
  0% {
    transform: translateX(-70px);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0)
  }

  100% {
    transform: rotate(360deg)
  }
}

body {
  color: rgb(92, 193, 51);
}

.tg-poker__gamelog {
  background: rgba(0, 0, 0, 0.4);
  bottom: 0;
  color: #fff;
  height: 350px;
  overflow-y: auto;
  padding: 12px;
  position: absolute;
  left: 0;
  width: 50vw;
  max-width: 700px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.tg-poker__gamelog_log {
  display: flex;
}

.tg-poker__table {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  color: rgb(92, 193, 51);
}

.tg-poker__overview {
  background: #000;
  color: #fff;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  margin: 0 auto 20px auto;
  max-width: 500px;
  padding: 8px;
}

.tg-poker__table__bottom {
  align-items: flex-end;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.tg-poker__table__spectators {
  background: rgba(0, 0, 0, 0.4);
  top: 0;
  color: #fff;
  height: 232px;
  overflow-y: auto;
  padding: 12px;
  position: absolute;
  right: 0;
  width: 200px;
}

.tg-poker__table__join {
  background: rgba(0, 0, 0, 0.4);
  color: #fff;
  padding: 8px;
  position: absolute;
  bottom: 0;
  right: 200px;
  width: 200px;
}

.tg-poker__table__spectators__spectator {
  display: flex;
}

.tg-poker__player .tg-poker__player__details {
  background: #000;
  border-radius: 4px;
  padding: 8px;
}

.tg-poker__player .tg-poker__player__details>div {
  align-items: center;
  display: flex;
  gap: 16px;
}

.tg-poker__player.tg-poker__player--1 {
  width: 200px;
  position: absolute;
  /* Absolute positioning for centering */
  top: -100px;
  /* Center vertically */
  left: 50%;
  /* Center horizontally */
  transform: translate(-50%, -50%);
  /* Adjust to move back by half of the element's dimensions */
}


.tg-poker__controls {
  display: flex;
  height: 40px;
  gap: 5px;
}

.tg-poker__table__dealer {
  align-items: center;
  border-radius: 50%;
  background: radial-gradient(rgba(0, 150, 0, 1), rgba(0, 100, 0, 1));
  display: flex;
  gap: 8px;
  height: 600px;
  margin: 0 auto;
  max-width: 1200px;
  position: relative;
  width: 60%;
}

.tg-poker__table__dealer__cards {
  display: flex;
  gap: 8px;
  justify-content: left;
  align-items: center;
  flex-direction: row;
  margin-left: 150px;
  margin-right: 150px;
  width: 100%;
  flex-wrap: wrap;
}

.tg-poker__dealer-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  position: absolute;
  width: 100%;
  height: 100%;
}

/* dealer cards */
.tg-poker__table__dealer>img {
  height: auto;
  width: 60px;
}

.tg-poker__table__dealer>img:not(:nth-child(1)) {
  animation: slideRight 0.3s linear forwards;
}

.card {
  height: 60px;
}

.dealer__card {
  height: 140px;
}

.playerCard {
  width: 95px;
}

.tg-poker__winner {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 100%;
  z-index: 10;
}

.tg-poker__winner>div {
  background: #fff;
  border-radius: 8px;
  padding: 16px;
  color: #000;
}

.tg-poker__card-loader>img {
  animation: spin 2s linear infinite;
  width: 50px;
}

.tg-poker__winner__buttons {
  display: flex;
  gap: 8px;
}

.opponents {
  display: flex;
  gap: 16px;

}

.tg-poker__table__player-container {
  width: 200px;
  height: 150px;
  position: absolute;
  /* no idea why the second dimension needs to be positive */
  transform: translate(-50%, 50%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.opponents>div {}